@model Hotel_Reservation.Models.Reservation

@{
    ViewData["Title"] = "Relax Hotel | កែប្រែការកក់";
}

<div class="card mt-2 mb-4">
    <div class="card-header bg-dark text-white">
        <div class="d-flex align-items-center justify-content-center">
            <img src="~/img/logo-hotel-bg.png" width="50px" />
            <h4 class="ms-2">@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="card-body fw-bold">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationID" />
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="CustomerID" class="control-label"></label>
                    <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.Customers"></select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="RoomID" class="control-label"></label>
                    <select asp-for="RoomID" class="form-control" asp-items="ViewBag.Rooms"></select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="CheckInDate" class="control-label"></label>
                    <input asp-for="CheckInDate" class="form-control" />
                    <span asp-validation-for="CheckInDate" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="CheckOutDate" class="control-label"></label>
                    <input asp-for="CheckOutDate" class="form-control" />
                    <span asp-validation-for="CheckOutDate" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6 ">
                    <label asp-for="NumberOfChildren" class="control-label"></label>
                    <input asp-for="NumberOfChildren" class="form-control" />
                    <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="NumberOfAdults" class="control-label"></label>
                    <input asp-for="NumberOfAdults" class="form-control" />
                    <span asp-validation-for="NumberOfAdults" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control" />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="PaymentStatus" class="control-label"></label>
                    <input asp-for="PaymentStatus" class="form-control" />
                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                </div>
                <div class="form-group text-end">
                    <a asp-action="Index" class="btn btn-danger">បិទ</a>
                    <button type="submit" class="btn btn-primary">រក្សាទុក</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
