@model Hotel_Reservation.Models.Customer
@{
    ViewData["Title"] = "Relax Hotel | លុបអតិថិជន";
}
<div class="modal fade" id="DeleteCustomer-@Model.CustomerID" tabindex="-1" aria-labelledby="DeleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="~/img/logo-hotel-bg.png" width="40px" />
                    <h5 class="ms-2">@ViewData["Title"]</h5>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="CustomerID" />

                    <div class="mb-3​ fw-bold">
                        <p>តើអ្នកកប្រាកដទេថាចង់លុបអតិថិជននេះ?</p>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">លុប</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
