@model Customer
@{
    ViewData["Title"] = "Relax Hotel | កែប្រែអតិថិជន";
}
<div class="modal fade" id="EditCustomer-@Model.CustomerID" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="~/img/logo-hotel-bg.png" width="40px" />
                    <h5 class="ms-2">@ViewData["Title"]</h5>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start fw-bold">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="CustomerID" />
                    <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <label asp-for="FirstName">នាមត្រកូល</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                <input asp-for="FirstName" type="text" class="form-control" />
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label asp-for="LastName">គោត្ដនាម</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                                <input asp-for="LastName" type="text" class="form-control" />
                            </div>
                             <div class="col-md-6 form-group">
                            <label asp-for="Gender" class="form-label">ភេទ</label>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                            <select asp-for="Gender" class="form-select">
                                    <option value="">ជ្រើសរើសភេទ</option>
                                <option value="Male" selected="@(Model.Gender == "Male")">បុរស</option>
                                <option value="Female" selected="@(Model.Gender == "Female")">ស្រ្តី</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group">
                                <label asp-for="Email" class="form-label">អ៊ីម៉ែល</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" type="email" class="form-control"/>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label asp-for="PhoneNumber">លេខទូរស័ព្ទ</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <input asp-for="PhoneNumber" class="form-control" />
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label asp-for="PassportNumber">លេខលិខិតឆ្លងដែន</label>
                                <span asp-validation-for="PassportNumber" class="text-danger"></span>
                                <input asp-for="PassportNumber" class="form-control"  />
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label asp-for="Country">ប្រទេស</label>
                                <span asp-validation-for="Country" class="text-danger"></span>
                                <input asp-for="Country" type="text" class="form-control" />
                            </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger text-white" data-bs-dismiss="modal">បិទ</a>
                        <button type="submit" class="btn btn-primary">កែប្រែ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
